<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >

    <test name="LoginTest">
        <classes>
            <class name="org.zpm.tests.Tests"/>
            <class name="org.zpm.tests.TestsShop"/>
            <class name="org.zpm.tests.TestMyAccount"/>
        </classes>
    </test>

</suite>